# Add variables for the Postgres DBMS:
POSTGRES_USER=...
POSTGRES_PASSWORD=...
POSTGRES_DB=...
POSTGRES_HOST=...
POSTGRES_PORT=...

ALLOWED_HOSTS=localhost,127.0.0.1,example.onrender.com
CSRF_TRUSTED_ORIGINS=https://example.onrender.com,https://example-backend.onrender.com
