{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}

    <!-- Basic Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}">
    
    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
    
    <!-- Other sizes of favicon -->
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon-96x96.png' %}">
    
    <!-- Web App Manifest -->
    <link rel="manifest" href="{% static 'images/site.webmanifest' %}">
    
    <meta name="theme-color" content="#007bff">

    <title>{% block title %}Med25{% endblock %} | Med25</title>
    {% bootstrap_css %}
  </head>
  <body class="d-flex flex-column min-vh-100">
    {% include "includes/header.html" %}
    <main class="d-flex flex-column flex-fill">
      <div class="container py-5">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
          {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
      </div>
    </main>
    {% include "includes/footer.html" %}
    {% bootstrap_javascript %}
  </body>
</html>
